.specialists{

     background-image: url("https://i.ibb.co/BfDG0hC/image-03.jpg?fbclid=IwAR28vyXbxtqQKIssxwwo-qhvI5YnU-Mu9qtjD059L4Y6WTeIrErbJGQkKxc");
  /* margin-top: 5%;
  margin-bottom: 5%; */
  /* height: 2000px; */
  background-repeat: no-repeat;
  background-size: cover;
}