

.business {

     background-image: url("https://i.ibb.co/DwDmw1m/home-page.jpg?fbclid=IwAR20MBhp5qY8lF46i73V49fpE5mbQwbXuuA0QqE6EAzYi6rBePkBW3HnVQs");
     /* margin-top: 5%;
     margin-bottom: 5%; */
     /* height: 2000px; */
     background-repeat: no-repeat;
     background-size: cover;
}